body{
    background-color: rgb(192, 201, 208);
    font-family: Verdana;
    max-width: 900px ;
    margin: auto;
}
.photo{
    border:1px solid ;
    border-radius:50px ;
}


#title, .subtitle, .post_title{
    color: rgb(32, 32, 37);
}
#title{
    font-size: 40px ;
    text-transform: uppercase;
}
a{
    text-decoration: line-through;/*linha ao centro*/
    color: rgb(32, 32, 37);
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}
.post{
    background-color: antiquewhite ;
    padding: 10px; /*espaçamenro entre o conteudo e a borda*/
    border: 3px solid  rgb(32, 32, 37); 
    margin: 10px ; /*espaçamento entre elementos */
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-transform: capitalize; /*primeiras letras de cada palavra em maisculo*/
    text-align: justify;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}
.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a{
    text-decoration: none;
    
    }
